<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Croessant</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <script defer src="../js/generate_invoice.js"></script>
  </head>
  <body class="is-flex is-flex-direction-column">
    <section id="app-header" class="hero is-small is-info">
      <div class="hero-body">
        <p class="title has-text-centered">Generación de factura</p>
      </div>
    </section>
    <section id="app-body" class="section is-flex-grow-1">
        <div class="field">
            <label class="label">Monto</label>
            <div class="control">
                <input id="amount" class="input" type="number">
            </div>
        </div>
        <article class="message">
          <div class="message-body">
            Es necesario tener un punto de venta del tipo <em>Web Services</em>.
          </div>
        </article>
        <button id="generateInvoice" class="button is-success is-fullwidth" type="button">Generar</button>
    </section>
    <footer id="app-footer" class="footer">
      <div class="content has-text-centered">
        <p><strong>Croessant</strong> hecho por Lucas Lobasso.</p>
        <p>Código open-source disponible en <a href="https://github.com/lucaslobasso/afip_croessant_invoicer" target="_blank">Github</a>.</p>
      </div>
    </footer>
  </body>
</html>
