@import "./variables";

html {
    height: 100%;
    overflow: auto;

  body {
    height: 100%;

    &.warning {
        background-color: $warning-dark;
    }
    &.error {
        background-color: $danger-dark;
    }

    section.hero {
        .hero-head {
            .navbar, .navbar-menu, .navbar-end {
                align-items: stretch;
                display: flex;
            }
            .navbar {
                justify-content: space-between;
            }
            .navbar-brand > .navbar-item {
                cursor: default;
                background-color: transparent;

                span {
                    padding-left: 5px;
                    font-weight: bold;
                }
            }
            .navbar-menu {
                box-shadow: none;
            }
            .navbar-end {
                justify-content: flex-end;
                margin-left: auto;

                .button:last-child {
                    margin-left: 5px;
                }
            }
            .buttons.are-small .button:not(.is-normal):not(.is-medium):not(.is-large) {
                font-size: 0.85em;
            }
        }

        .hero-head + .hero-body {
            padding: 20px 20px 50px 20px;
        }
        .hero-body .title {
            color: white;
        }
    }
    section.section {
        background-color: white;
        padding: 35px 30px;
        border-radius: 15px 15px 0 0;

        &.contains-list {
            max-height: calc(100% - 290px);
        }
    }
    fieldset {
        margin-bottom: 20px;
    }
    footer.footer {
        padding: 30px;

        .content > p {
            margin-bottom: 5px;
        }
    }

    #invoices-list-container {
        border-top: 1px solid #eaeaea;
        padding-top: 20px;
        max-height: calc(100% - 200px);

        #invoices-list {
            max-height: 100%;
            overflow-y: auto;

            .invoice-list-item:not([id]) > .tile {
                padding: 0;
                overflow: hidden;

                .invoice-number {
                    color: white;
                    background-color: $primary;
                    padding: 15px 20px;
                }
                .invoice-body {
                    flex-grow: 1;
                    flex-shrink: 1;
                    font-size: 13px;
                    padding: 10px 15px;
                }
                .invoice-amount {
                    padding: 15px 20px;
                }
            }
            .invoice-list-item:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
    #invoices-total {
        position: absolute;
        bottom: 115px;
        left: 0;
        width: 100%;
        color: white;
        background-color: $secondary;
        padding: 10px 20px;
    }
        
    .select {
        width: 100%;

        > select {
            width: 100%;
        }
    }
    
    .is-expanded {
        flex-grow: 1;
        flex-shrink: 1;
    }
    
    .field.is-grouped > .field {
        margin: 0;

        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    button.is-warning {
        color: white;
    }

    .datepicker-cell {
        &.selected, 
        &.selected:hover {
            background-color: $secondary;
        }
        &.today:not(.selected) {
            background-color: $primary;
        }
    }

    .pageloader {
        background: $secondary;

        &.inline-loader {
            display: none;
            position: relative;
            margin-top: 70px;
            background: transparent;

            &.is-active {
                display: block;
            }
            &::after {
                border: 0 solid #363636;
            }
            .title {
                color: #363636;
            }
        }
    }
  }
}